
.home{
    width:350px;
    min-width: 350px;
    margin: auto;
  .inittimer{
    margin-top: 100px;
    .p_class{
        font-size: 17px;
        padding-top: 5px;
        padding-right:0px;
        padding-left: 15px;
    }
    .input_class{
        margin-left: 10px;
    }
    .btn_class{
        margin-left: 10px;
        height: 40px;
    }
  }
  .displaypane{
        margin-top: 15px;
        .red_warning{
            color: red;
            font-size: 30px;
        }
        
        @keyframes blinker {  
            100% { opacity: 0; }
        }
        .blink {
            animation: blinker 0.6s linear infinite;
            color: red;
            font-size: 30px;
            font-weight: bold;
            font-family: sans-serif;
        }
        .text_disable{
            display: none
        }
        .timepad{
            font-size: 80px;
            font-weight:bold
        }
        .normal_text{
            font-size: 30px;
        }
  }
  .speed{
      .degree{
          margin: auto;
          width:80%;
          height: 50px;
          border: 1px solid gray;
          color: gray;
          cursor: pointer;
      }
      .selectedClass{
          background-color: #333;
          color: white
      }
      .pClass{
          margin-top: 7px;
          font-size: 20px;
      }
  }
}